.admin-menu.container {
    height: 100%;
    width: fit-content;
    justify-content: left;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0 5px black;
    background-color: var(--dark-bg-color);
}

.admin-menu.page-container {
    width: 100%;
    border-radius: 5px;
}

.admin-menu.page-link {
    display: block;
    width: calc(100% - 30px);
    padding:10px 20px 10px 10px;
    color: white;
    font-size: 2rem;
}

.admin-menu.page-link:hover {
    background-color: var(--light-bg-color);
}

.admin-menu.sub-menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    height: fit-content;
}

.admin-menu.sub-page-link {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    width: calc(100% - 30px);
    padding: 10px 10px 10px 20px;
}

.admin-menu.sub-page-link:hover {
    background-color: var(--light-bg-color);
}