:root {
  --dark-bg-color: #212735;
  --light-bg-color: #2b313f;
  font-family: "Helvetica Neue", sans-serif;
  height: 100%;
  font-size: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
}
#root {
  height: 100%;
}

.display-none {
  display: none;
}